# Dependencias
node_modules/

# Variables de entorno (CLAVES SECRETAS)
.env
.env.local
.env.developmen
.env.test
.env.example
# Builds
dist/
build/

# Logs
*.log
logs/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db